%btn {
    display: inline-block;
    border-radius: 15px;
    padding: 1rem;
    margin: 3px;
    text-align: center;
    font-weight: 400;
    font-family: $secondary-font;
    color: #000000;
    background-image: $gradient-bleu;
    &:hover {
      transform: scale(.98);
    }
}


.btn-contact{
    @extend %btn;
    background-image: $gradient-bleu;
    width: 128px;
    height: 52px;
    font-size: 15px;
}

.btn-showcase{
    @extend %btn;
    width: 150px;
    height: 56px;
    padding: 2px;
    color: #FFFFFF;
    font-size: 16px;
    position: relative;
    z-index: 2;

    span {
        align-items: center;
        background: #242726;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

.btn-l{
    @extend %btn;
    width: 150px;
    height: 50px;
    font-size: 16px;
    padding: 1em 0;
}

.btn-xl{
    @extend %btn;
    width: 297px;
    height: 50px;
    font-size: 16px;
    padding: 1em 0;
}