/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

/* Colors */
$gradient-bleu : linear-gradient(47.99deg, #2E8174 0%, #30A996 42.53%, #00FFD9 100%);