@media(max-width: 700px) {

    p {
      font-size: 17px;
      line-height: 23.15px;
    }

    .burger-menu {
      display: block;
      height: 34px;
      width: auto;
    }
    
    .burger-menu:hover {
        opacity: 0.5;
    }

    /* Nav */
    .main-nav {
      background: #1D1F22;
      
      .logo {
        margin-top: 2em;
        margin-left: 2em;
      }

      .main-menu {
        display: block;
        position: absolute;
        top:0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height:100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
        z-index: 3;

        &.show {
          transform: translateX(-20px);
        }
      }



      .right-menu {
        display: none;
      }
  
    }

    /* Showcase */
    .showcase {
      background-color: #1D1F22;
      background-size: 85%;
      background-position: right;
      height: 832px;

      h1{
        font-size: 50px !important;
      }


      div {
        width: 384px;
        margin: 2em;
   
      }
    }

    .btn-showcase{
      width: 138px;
      height: 49px;
      padding: 2px;
      font-size: 15px;
      border-radius: 7px;
      span {
  
          background: #1D1F22;
          border-radius: 7px;

      }
     }

  /* Good luck section */

  .good-luck-card{
    flex-direction: column;
    height: 430px;
    padding: 2em;
    left: 2em;
    width: 90%;
    
    .box-1{
      flex: 1;
      padding: 0;
    }

    .box-2{
        flex: 1;
        padding: 0;

        a{
          margin-left: 10em;
      }
    }

    h2 {
      font-size: 22px;
      line-height: 30px;
      text-align: center;
    } 

  }

  .btn-l{
    border-radius: 7px;
    width: 144px;
    height: 50px;
    font-size: 15px;
    padding: .7em 0;
  }
   
  /* Seperator*/
  .seperator {
    margin: 20em 0 1em 1em;
    width: 80%
}

  /* Don't froget about section */
  .dont-forget-about{
    margin: 3em 0 5em;
    
    .title {
        width: 80%;

        h2 {
          font-size: 28px;
          line-height: 34.13px;
          text-align: center;
        }
    }

    .card{
      width: 80%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3em;
      margin: 40px;

      h4 {
        
        font-size: 20px;
        line-height: 24px;
        text-align: center;
      }
      &-content{
        padding: 0 2em;
      }
    }

  }

  .btn-xl{
    border-radius: 7px;
    width: 267px;
    height: 50px;
    font-size: 15px;
    padding: .7em 0;
  }

  /* footer */
  footer{
    background: #1D1F22;
    padding: 2em 2em ;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 1em;

    .follow{
      display: none;
      
    }

    .logo{
      width: fit-content;
      justify-self: start;
      grid-row: 2;
      img{
        width: 80%;
      }
    }

    .all-rights{
      
      font-size: 9px;
      line-height: 12px;
      grid-column: 4 /5;
      grid-row: 2;
    }

    .stay-tuned {
      width: 300px;
      grid-column: 1 /5;
    }

    form{

      label {
        font-size: 17px;
      }

      .input-field{
        border-radius: 7px;
        height: 40px;
        &::placeholder {
            font-size: 17px;
            line-height: 20px;
            padding: 0 .7em;
        }
        
      }
    
      .input-groupe{
        & > span, .input-field {
            &:first-child {
                border-radius: 7px 0 0 7px;
            }
            &:last-child {
                border-radius: 0 7px 7px 0;
            }
            &:not(:first-child) {
                margin-left: -1px;
            }
        }

        & > span {
          padding: 0 1em;
          font-size: 14px;
          line-height: 25.87px;
        }
      }
    }

  }
}

@media(max-width: 599px){
/* Good luck section */

.good-luck-card{
  flex-direction: column;
  height: 430px;
  top: 45rem;
  padding: 2em;
  left: 2em;
  width: 90%;
  
  .box-1{
    flex: 1;
    margin-top: 2rem;
  }

  .box-2{
      flex: 1;
      padding: 0;

      a{
        margin-right: 2px;
    }
  }

  h2 {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
  
  p{
    font-size: 14px;
    line-height: 19.07px;
  }

}

.btn-l{
  border-radius: 7px;
  width: 111px;
  height: 37px;
  font-size: 12px;
  padding: .7em 0;
}

  footer{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;

    .all-rights{
     width: 8rem;
     grid-column: 2/3;

    }
    .stay-tuned {
      width: 300px;
      grid-column: 1/3;
    }
    .logo{
      width: 7rem;
      justify-self: center;
      
      img{
        width: 100%;
        margin-top: 1.2em;
      }
    }
  }

  /* Seperator*/
  .seperator {
    margin: 12em auto 1em auto;
    width: 20%
}
}
