@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $primary-font;
    background: #fff;
    color: #807F7F;
    font-size: 19px;
    font-weight: 400;
    line-height: 25.87px;
    text-align: justify;
}

a {
    color: #1D1F21;
    text-decoration: none;
}

ul {
    list-style: none;
}

.seperator {
    margin: 23em 0 2em 4em;
    text-align: left;
    width: 80%;
    img {
    widows:200%;
    }
}

h2 {
    color: #000000;
    font-family: $secondary-font;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.76px;
    text-align: justify;
    
}

.burger-menu {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;

    .logo {
        width: 158px;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            padding: 0.6rem 1.25rem 0.6rem 0.93rem;
            font-size: 16px;
            line-height: 21.79px;
            text-align: left;
            
        }

        &.main-menu {
           
            a {
                padding-bottom: 2px;

                &:hover {
                    border-bottom: 2px solid #2E8174;
                }
            }
        }

        &.right-menu{

            .lang{
                align-self: center;
            }
        }

    }

}

/* Showcase */
.showcase {
    position: relative;
    width: 100%;
    height: 56.25rem;
    background: #242726 url('../img/fond\ 1.png') no-repeat right ;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
    margin: auto;

    h1{
    font-family: $secondary-font ;
    line-height: 4.37rem;
    font-weight: 400;
    text-transform:uppercase ;
    color: #FFFFFF;
    font-size: 3.62rem;
    margin-bottom: 1.87rem;
    }

    p{
        color: #BFBEBF;
        margin-bottom: 3.12rem;
    }

    div{
        width: 31.2rem;
        height: 43.75rem ;
        margin: 6.25rem;
        text-align: left;
        justify-content: flex-start;
    }
}

/* Good luck section */
.good-luck-card {
    background: #FFFFFF;
    position: absolute;
    top: 54.37rem;
    left: 5rem;
    width: 85%;
    height: 31.25rem;
    display: flex;
    align-items: flex-start;
    text-align: left;
    justify-content: flex-end;
    margin: auto;
    padding: 5em 5em 2em;

    box-shadow: 0 100px 100px 0 rgba(236, 236, 236, 0.5);

    .box-1{
        flex: 1;
        padding: .5em;
    }

    .box-2{
        flex: 1;
        padding: 1em;

        p {
            margin-bottom: 2em;
            text-align: justify;
        }

        a{
            margin-left: 7em;
        }
    }

    
}

/* Don't froget about section */
.dont-forget-about{
    margin: 2em 0 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;

    .title {
        width: 60%;
    }


}

.card{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7em;
    margin: 40px;

    h4 {
        color: #000000;
        font-family: $secondary-font;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }

    &-content{
        text-align: center;
        justify-content: center;

        h4, p {
            text-align: justify;
            margin-top: 1em;
        }
    }
}

/* Footer */
footer{
    background: #242726;
    min-height: 270px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    padding: 2em 5em ;
    justify-items: center;

    .logo {
        width: 258px;
        height: 103px;
    }

    form {
        text-align: center;
        justify-content: center;

        label {
            color: #FFFFFF;
            line-height: 23px;
            text-align: justify;
            margin-bottom: 1em;
        }

        .input-field{
            border-bottom: 3px solid #00FFD9;
            border-top: 3px solid #00FFD9;
            border-left: 3px solid #00FFD9;
            border-radius: 15px;
            height: 53px;
            width:100%;

            display: block;

            &::placeholder {
                color: #BCBABA;
                font-family: $secondary-font;
                font-size: 19px;
                line-height: 23px;
                padding: 0 1em;
            }
            
        }

        .input-groupe{
            position: relative;
            display: flex;
            width: 100%;
            & > span, .input-field {
                white-space: nowrap;
                display: block;
                &:not(:first-child):not(:last-child) {
                    border-radius: 0;
                }
                &:first-child {
                    border-radius: 15px 0 0 15px;
                }
                &:last-child {
                    border-radius: 0 15px 15px 0;
                }
                &:not(:first-child) {
                    margin-left: -1px;
                }
            }

            .input-field {
                position: relative;
                z-index: 1;
                flex: 1 1 auto;
                width: 1%;
                margin-top: 0;
                margin-bottom: 0;
            }

            & > span {
                text-align: center;
                color: #D8D8D8;
                padding: 9px 10px;
                font-size: 16px;
                line-height: 25.87px;
                border-bottom: 3px solid #00FFD9;
                border-right: 3px solid #00FFD9;
                border-top: 3px solid #00FFD9;
            }
        }
    }

    .follow{
        text-align: center;
        justify-content: center;

        h5{
            color: #FFFFFF;
            line-height: 23px;
            text-align: justify;
            margin-bottom: 1em;
        }

        ul {
            display: flex;
            
            img {
                width: 60px;
                height: 60px;
                margin-left: 1em;
            }
        }

    }

    .all-rights{
        color: #818181;
        font-family: $secondary-font;
        font-size: 10px;
        font-weight: 400;
        line-height: 12.19px;
        text-align: justify;

        grid-column: 1 / 4;

    }
}

@import 'buttons';
@import 'mobile';